* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: url(/images/Object.png);
    width: auto;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    color: #fff;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009870;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.get-schooled {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    font-size: 150px;
}

span {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
}