* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.table_1 {
    border: 2px solid #333;
    text-align: center;
}

th, td {
    border: 1px solid grey;
}

caption {
    font-weight: bold;
}

.table_2 {
    border: 2px solid #333;
    text-align: left;
}
        
thead {
    font-weight: bold;
    text-align: left;
}
